
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: auto;
    width: 90%;
}

.photograph_header-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.photograph_infos h1{
    font-size: 3rem;
    color:#D3573C;
    font-weight:lighter;
    margin : 0;
}

.photograph_picture {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.contact_button, #form_submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
   
}

.medias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-top: 5%;
    background-color: #FFF;
   
   
}
.medias article{
    width: 350px;
    margin: auto;
}

.image_section, .video_section{
    width: 350px; 
    height: 350px;
    overflow: hidden; 
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.photograph_image{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.photograph_video{
    min-width: auto;
    height: 100%;
    
}
.title_likes_media{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.title_likes_media .like{
    color: #901C1C;
}
.title_likes_media .media_title{
    margin-top: 2%;
    color: #901C1C;
}
.title_likes_media .media_likes{
    margin-top: 2%;
    color: #901C1C;
}

#lightbox-close-btn{
    position: relative;
    left: 93%;
    top: 3%;
    background: transparent;    
    padding: 0;
}

.carousel{

    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
}

.carousel-item{
    height: 100%;
}

.source_content{
    width: auto;
    margin: auto;
}
  
.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}
  
.slide .portrait{
    width: 400px;
    height: auto;
}
.slide .landscape{
    width: auto;
    height: 500px;
}

.slide video {
    width: auto;
    height: 500px;
}
 
.img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* z-index:22; */
 }
  
 .prev-image {
    left: 50px;
 }
  
 .fa-angle-left,
 .fa-angle-right {
    font-size: 30px;
    color: #901C1C;
 }
  
 .next-image {
    right: 50px;
 }

.modal{
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    max-height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    /* z-index: 2; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 10%;
   
}
.modal header button {
    background-color: #DB8876;
    border: #DB8876;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

form #message {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
 }

 .no-scroll{
    overflow: hidden;
 }

 .opacity{
    opacity: 0.5;
    
 }

 ul{
     padding: 0;
 }

 footer .footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 2%;
    padding: 1%;
    background-color: #DB8876;
    width: 20%;
    border-radius: 5px;
} 
 footer .photographer_price, .total_likes{
    font-weight: bold;
 }

 footer .total_likes_content{
    display: flex;
 }
 /* .medias_sorting{
    display: flex;
    position: absolute;
    left: 5%;
    right: 0%;
    top: 65%;
    bottom: -146.38%;
   
    
 }
 .medias_sorting .sorting_title{
    width: 7%;
    margin-top: 0.5%;
 }
 .medias_sorting select{
    background-color: #911c1c;
    color: white; 
    border-radius: 5px;
    padding: 0.5%;
    margin-top: 0.2%;
} */
.medias_sorting{
    margin-left: 5%;
    margin-top: 1%;
}


.header-dropdown-link {
    border: 1px solid transparent;
    color: #0000;
    text-decoration: none;
}

.header-dropdown-link:hover,
.header-dropdown-link:focus {
    border: 1px solid #FFF;
    border-radius: 5px;
}

.header-dropdown-link-content {
    display: flex;
    justify-content: space-between;
    background-color: #901C1C;
    border-radius: 4px;
    position: absolute;
    left: 10%;
    top: 400px;
    /* z-index: 15;     */
    list-style-type: none;
    color: #FFF;
    padding: 10px 15px 10px 25px;
    width : 110px;
}


.header-dropdown-link-content a{
    color: #FFF;
    text-decoration: none;
}
.header-dropdown-link-content button{
    color: #FFF;
    background-color: #901C1C;
    text-decoration: none;
}
.header-dropdown-link-content:hover{
    background-color: #DB8876;
    cursor: pointer;
    border-radius: 4px;
}

.dropdown_menu {
    background-color: #901C1C;
    border-radius: 0px 0px 4px 4px;
    flex-direction: column;
    padding-left: 0;
    position: absolute;
    left: 10%;
    top: 422px;
    z-index: 10;
    width : 150px;
}

.dropdown_menu .line{
    width: 65%; 
    border-bottom: 1.5px solid #fff;
    border-top: 1.5px solid #fff;
    margin: auto;
}

.dropdown li {
    list-style-type: none;
    color: #FFF;
    width: 65%;
    margin: auto;
    padding: 5px 15px 10px; 
    
}
.dropdown a{
   color: #fff;
    text-decoration: none;
}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown li:hover,
.dropdown li:focus {
    background-color: #DB8876;
    cursor: pointer;
    border-radius: 4px;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hiddenInput {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
 }

.pointerCancel{
    pointer-events: none;
}
