
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: auto;
    width: 90%;
}

.photograph-header-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}


.photograph-infos h1{
    font-size: 3rem;
    color:#D3573C;
    font-weight:lighter;
    margin : 0;
}

.photograph-picture {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.contact-button, #form-submit {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
   
}
.contact-button:focus,
.contact-button:hover{
    background-color:#DB8876;
    outline:none
}

.medias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    margin-top: 5%;
    background-color: #FFF;
   
   
}
.medias article{
    width: 350px;
    margin: auto;
}

.image-section, .video-section{
    width: 350px; 
    height: 350px;
    overflow: hidden; 
    margin: auto;
    border-radius: 5px;
    position: relative;
}
.image-section:focus,
.image-section:hover,
.video-section:focus,
.video-section:hover{
    border: 2px solid #008cff;
}

.photograph-image{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

.photograph-video{
    min-width: auto;
    height: 100%;
    
}
.like{
    border: none;
    background-color: transparent;
}


.fa-heart{
    font-size: 1.2rem;
}
.title-likes-media{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.title-likes-media .like{
    color: #901C1C;
}
.title-likes-media .media-title{
    margin-top: 2%;
    color: #901C1C;
}
.title-likes-media .media-likes{
    margin-top: 2%;
    color: #901C1C;
}

#lightbox-close-btn{
    position: relative;
    left: 93%;
    top: 3%;
    background: transparent;    
    padding: 0;
    border:none;
}
#lightbox-close-btn:focus,
#lightbox-close-btn:hover{
    background-color: #DB8876;
    border-radius: 4px;
    outline:none;
    border: none;
}
.carousel{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    height: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item{
    height: 80%;
}

.source-content{
    width: auto;
    margin: auto;
}

.title-lightbox{
    color: #901C1C;
}
.slide {
    min-width: 100%;
    display: flex;
    justify-content: center;
}
  
.slide .portrait{
    width: 300px;
    height: auto;
}
.slide .landscape{
    width: auto;
    height: 400px;
}

.slide video {
    width: auto;
    height: 400px;
}
 
.img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    /* z-index:22; */
 }
  
 .prev-image {
    left: 50px;
    border: none;
 }
 .prev-image:hover,
 .prev-image:focus,
 .next-image:hover,
 .next-image:focus{
    background-color: #DB8876;
 }

 .fa-angle-left,
 .fa-angle-right {
    font-size: 30px;
    color: #901C1C;
 }
  
 .next-image {
    right: 50px;
    border: none;
 }
 

.modal{
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    max-height: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 2.5rem;
    font-weight: normal;
    margin-bottom: 10%;
   
}
.modal header button {
    background-color: #DB8876;
    border: #DB8876;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2rem;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
}

form #message {
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 5px;
}

.hidden {
    display: none;
 }

 .no-scroll{
    overflow: hidden;
 }

 .opacity{
    opacity: 0.5;
    
 }

 ul{
     padding: 0;
 }

 footer .footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 2%;
    padding: 1%;
    background-color: #DB8876;
    width: 20%;
    border-radius: 5px;
} 
 footer .photographer-price, .total-likes{
    font-weight: bold;
 }

 footer .total-likes-content{
    display: flex;
 }

.medias-sorting{
    display: flex;
    margin-left: 5%;
    margin-top: 1%;
}

.select-sorting{
    font-size: 1rem;
}
.select-sorting-title{
    position: absolute;
    top: 10px;
   
}
.header-dropdown-link {
    border: 1px solid transparent;
    color: #0000;
    text-decoration: none;
    position: relative;
    left: 90px;
    top:-2px;
    z-index:99;
}

.header-dropdown-link:hover,
.header-dropdown-link:focus {
    border: 1px solid #FFF;
    border-radius: 5px;
}

.header-dropdown-link-content {
    background-color: #901C1C;
    position: absolute;
    left: 10%;
    top: 380px;
    margin-left: 2%;
    list-style-type: none;
    color: #FFF;
    padding: 10px 15px 10px 20px;
    width : 115px;
    z-index: 99;
    border-radius: 4px;
    cursor: pointer;
}

.header-dropdown-link{
    color: #FFF;
    background-color: #901C1C;
    text-decoration: none;
    border: none; 
    cursor: pointer;
}

.line{
    width: 120px; 
    border-top: 1.5px solid #fff;
    border-bottom: 1.5px solid #fff;
    margin-top: 10px;
    margin-bottom: 7px;
    padding-top: 4px;
    padding-bottom: 5px;
}

.hiddenInput {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -10000px;
    width: 1px;
 }

.pointerCancel{
    pointer-events: none;
}


